header {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black
}

.link-logout {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}